.headerCont {
  background-color: #ff5420;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
}
.eGridCont,
.tGridCont {
  max-height: 85vh;
}
.eGrid {
  max-height: 93%;
  overflow-y: scroll;
}
.tGrid {
  overflow-y: scroll;
  max-height: 90%;
}
.eGrid::-webkit-scrollbar,
.tGrid::-webkit-scrollbar {
  display: none;
}
.dropFloat {
  position: absolute;
  right: 20px;
  top: 77px;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 12px #0000004f;
  display: none;
}
.dropFloat.active {
  display: initial;
}
.floatProf {
  display: flex;
  align-items: center;
}
.dropFloat svg {
  margin-right: 10px;
  font-size: 20px;
  color: #ff5420;
}
.dropFloat a {
  font-size: 14px;
  font-family: "Inter";
  color: #313131;
}
.headerIcons {
  display: flex;
  align-items: center;
}
.notifs {
  background-color: #ffaa90;
  font-size: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}
.userDropdown {
  background-color: #ffaa90;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
}
.userDropdown svg {
  font-size: 25px;
}
.navToggle {
  cursor: pointer;
  display: none;
}
.navToggle svg {
  font-size: 25px;
}
.dashGrid {
  display: grid;
  grid-template-columns: 28% 39% 28%;
  gap: 2.5%;
  padding: 20px;
  padding-bottom: 0;
}
.headText {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 18px;
  align-items: center;
}
.headText h6 {
  font-size: 16px;
}
.headText a {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  background-color: #ffd5c7;
  border-radius: 5px;
  color: #ff5420;
}
.headText a svg {
  margin-left: 3px;
}
.dashTaskSort {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin: 10px 0;
}
.dashTaskHead h6 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.dashTaskSort button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 12px;
}
@media (max-width: 1200px) {
  .dashGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .eGridCont,
  .tGridCont {
    max-height: none;
  }
  .eGrid {
    max-height: none;
    overflow-y: initial;
  }
  .tGrid {
    overflow-y: initial;
    max-height: none;
  }
}
@media (max-width: 900px) {
  .dashGrid {
    grid-template-columns: 1fr;
  }
  .navToggle {
    display: initial;
  }
  .headerCont {
    z-index: 10;
  }
}
@media (max-width: 450px) {
  .welcomeText {
    font-size: 20px;
  }
  .notifs {
    width: 30px;
    height: 30px;
  }
  .userDropdown {
    padding: 3.5px 5px;
  }
  .dropFloat {
    top: 70px;
  }
}
