.headerCont {
  background-color: #ff5420;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.eGridCont,
.tGridCont {
  max-height: 85vh;
}
.eGrid {
  max-height: 93%;
  overflow-y: scroll;
}
.tGrid {
  overflow-y: scroll;
  max-height: 90%;
}
.eGrid::-webkit-scrollbar,
.tGrid::-webkit-scrollbar {
  /* width: 6.5px;
  background-color: none;
  padding-left: 10px; */
  display: none;
}
/* .eGrid::-webkit-scrollbar-thumb,
.tGrid::-webkit-scrollbar-thumb {
  background-color: #cfcdcd;
  border-radius: 3px;
  margin-left: 5px;
} */
.headerIcons {
  display: flex;
}
.notifs {
  background-color: #ffaa90;
  font-size: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.userDropdown {
  background-color: #ffaa90;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}
.dashGrid {
  display: grid;
  grid-template-columns: 28% 39% 28%;
  gap: 2.5%;
  padding: 20px;
  padding-bottom: 0;
}
.headText {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 18px;
  align-items: center;
}
.headText h6 {
  font-size: 16px;
}
.headText a {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  background-color: #ffd5c7;
  border-radius: 5px;
  color: #ff5420;
}
.headText a svg {
  margin-left: 3px;
}
.dashTaskSort {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin: 10px 0;
}
.dashTaskHead h6 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.dashTaskSort button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 12px;
}
@media (max-width: 1200px) {
  .dashGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .eGridCont,
  .tGridCont {
    max-height: none;
  }
  /* .eGridCont {
    grid-row: 1/2;
  }
  .tGridCont {
    grid-row: 2/3;
  } */
  .eGrid {
    max-height: none;
    overflow-y: initial;
  }
  .tGrid {
    overflow-y: initial;
    max-height: none;
  }
}
@media (max-width: 900px) {
  .dashGrid {
    grid-template-columns: 1fr;
  }
}
