.taskBox {
  border: 1px solid #ff5420;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 18px;
  font-size: 12px;
  font-weight: 500;
}
.taskTitle p {
  font-size: 16px;
}
.taskItemSect {
  display: flex;
  margin-bottom: 10px;
}
.taskItemSect span {
  display: flex;
  margin-left: 10px;
  align-items: center;
}
.taskItemSect span svg {
  margin-right: 4px;
}
.assignedSect {
  margin-top: 10px;
}
.taskStatus {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
  font-size: 12px;
  margin-bottom: 10px;
}
.btn {
  font-size: 12px;
}
.taskItemSect .taskAlignMargin {
  margin-left: 40.7px;
}
